<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'index')}">

<body>

<div class="jumbotron text-center">
<h1>searching</h1>
 </div>
   <div class="col-sm-5 col-sm-push-3">
		<form th:action="@{/searching}"  method="post" >

			<div class="form-group">
				<input display="inline" placeholder="Recherche...." required name="search" type="text" >
			<button  type="submit" class="btn btn-default btn-sm">
          <span class="glyphicon glyphicon-search"></span> Search 
        </button>
				
			</div>
			
			
		</form>
		
		<form action="#" th:action="@{/test}" method="post">
    <p>
        Name: <input type="text" name="name">
    </p>
    
    <p>
        <input type="submit" value="Submit"/> <input type="reset" value="Reset">
    </p>
</form>
	</div>



</body>
</html>
