<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >

<head>
 <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
</head>
<body>
  
  <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">List group item heading</h5>
      <small class="text-muted">3 days ago</small>
    </div>
  <div class="col-sm-5 col-sm-push-5">
  
  <div class="list-group">
  
   <th:block th:each="page : ${listPages}">
   
  <a th:href="|https://fr.wikipedia.org/wiki/${page}|">
  
  <p  th:utext="${page}" ><u></u></p>  

  </a>
  <br>
    </th:block>
  </div>               
  
  
  <ul class="pagination justify-content-center font-weight-medium">
        <li class="page-item" th:classappend="${listPages.number eq 0} ? 'disabled'">
            <a class="page-link svg-icon"
               th:href="@{/search/listPages?page={id}(id=${listPages.number lt 2 ? 1 : listPages.number})}"
               aria-label="Previous"
               title="Previous Page" rel="tooltip">
                <span aria-hidden="true" data-feather="chevrons-left" width="20" height="20"></span>
            </a>
        </li>
        <li class="page-item" th:classappend="${i eq listPages.number + 1} ? 'active'"
            th:each="i : ${#numbers.sequence( listPages.number + 1, listPages.totalPages > 10 + listPages.number ? listPages.number + 10 : listPages.totalPages, 1)}">
            <a class="page-link" th:href="@{/admin/customers?page={id}(id=${i})}" th:text="${i}"
               th:title="${'Page '+ i}"
               rel="tooltip"></a>
        </li>
        <li class="page-item disabled" th:if="${listPages.number + 10 < listPages.totalPages}">
            <a class="page-link svg-icon" href="#">
                <span data-feather="more-horizontal" width="20" height="20"></span>
            </a>
        </li>
        <li class="page-item" th:classappend="${listPages.number + 1 eq listPages.totalPages} ? 'disabled'">
            <a class="page-link svg-icon" th:href="@{/admin/customers?page={id}(id=${listPages.number + 2})}"
               aria-label="Next"
               title="Next Page" rel="tooltip">
                <span aria-hidden="true" data-feather="chevrons-right" width="20" height="20"></span>
            </a>
        </li>
    </ul>
</div>
    


  
  
</body>
</html>